@model CarDealerProject.Models.Car

<script type="text/javascript">
    $(document).ready(function () {

        $("#DDCarDealerName").on("change", function () {
            setDealerProps();
        });

        setDefaultDateVaules();
        setDealerProps();

        $("#ManufactureDate").datepicker({ dateFormat: 'yy-mm-dd', showAnim: "fadeIn", changeYear: true, yearRange: '-40:+0', maxDate: '+0d' });
        $("#Year").datepicker({
            dateFormat: 'yy',
            showAnim: "fadeIn",
            changeYear: true,
            yearRange: '1886:c',
            stepMonths: 12,
            showButtonPanel: true,
            onClose: function(dateText, inst) {
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, 1, 1));
            }
        });
        
        $('#Year').focusin(function () {
            $('.ui-datepicker-calendar').hide();
        });
    });

    function setDefaultDateVaules() {
        $("#ManufactureDate").val("2013-01-01");
        $("#Year").val("2013");
    }

    function setDealerProps() {
        $("#CreateForm").find("#CarDealerId").val($("#DDCarDealerName").find('option:selected').val());
        $("#CreateForm").find("#CarDealerName").val($("#DDCarDealerName").find('option:selected').text());
    }

</script>



<div>
    <h2>Create new</h2>
    <br />
    @using (Html.BeginForm("Create", "Car", FormMethod.Post, new { id = "CreateForm" }))
    { 
        @Html.ValidationSummary(true)
        <fieldset>
            <legend></legend>
            <div>
                <br />

                <div class="textSet">
                    @Html.LabelFor(model => model.Brand)<br />
                    @Html.EditorFor(model => model.Brand)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Brand)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.Model)<br />
                    @Html.EditorFor(model => model.Model)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Model)</span>
                </div>

                @Html.Hidden("CarDealerId")
                @Html.Hidden("CarDealerName")


                <div class="textSet">
                    @Html.LabelFor(model => model.CarDealerName)<br />
                    @Html.DropDownList("DDCarDealerName", TempData["CarDealersData"] as SelectList)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.CarDealerId)</span>
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.CarDealerName)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.CarNumber)<br />
                    @Html.EditorFor(model => model.CarNumber)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.CarNumber)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.Color)<br />
                    @Html.EditorFor(model => model.Color)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Color)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.ManufactureDate)<br />
                    @Html.EditorFor(model => model.ManufactureDate)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.ManufactureDate)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.Year)<br />
                    @Html.EditorFor(model => model.Year)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Year)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.Owners)<br />
                    @Html.EditorFor(model => model.Owners)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Owners)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.State)<br />
                    @Html.EditorFor(model => model.State)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.State)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.Description)<br />
                    @Html.EditorFor(model => model.Description)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Description)</span>
                </div>

                <input type="submit" value="Create" />
            </div>
        </fieldset>
    }
</div>
