@model CarDealerProject.Models.Car

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    $(document).ready(function () {

        $("#DDCarDealerName").on("change", function () {
            setDealerProps();
        });

        setDefaultDateVaules();
        setDealerProps();

        $("#ManufactureDate").datepicker({ dateFormat: 'yy-mm-dd', showAnim: "fadeIn", changeYear: true, yearRange: '-40:+0', maxDate: '+0d' });
        $("#Year").datepicker({ dateFormat: 'yy', showAnim: "fadeIn", changeYear: true, maxDate: '+0d' });
    });

    function setDefaultDateVaules() {
        $("#ManufactureDate").val("2013-01-01");
        $("#Year").val("2013");
    }

    function setDealerProps() {
        $("#CreateForm").find("#CarDealerId").val($("#DDCarDealerName").find('option:selected').val());
        $("#CreateForm").find("#CarDealerName").val($("#DDCarDealerName").find('option:selected').text());
    }

</script>


<div>
    <h2>Create new</h2>
    <br />
    @using (Html.BeginForm("Create", "Car", FormMethod.Post, new { id = "CreateForm" }))
    { 
        @Html.ValidationSummary(true)
        <fieldset>
            <legend></legend>
            <div>
                <br />

                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Brand)</span><br />
                    <span>@Html.EditorFor(model => model.Brand)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Brand)</span>
                </div>

                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Model)</span><br />
                    <span>@Html.EditorFor(model => model.Model)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Model)</span>
                </div>

                @Html.Hidden("CarDealerId")
                @Html.Hidden("CarDealerName")


                <div class="textSet">
                    <span>@Html.LabelFor(model => model.CarDealerName)</span><br />
                    <span>@Html.DropDownList("DDCarDealerName", TempData["CarDealersData"] as SelectList)</span><br />
                </div>
                
                <div class="textSet">
                    <span>@Html.LabelFor(model => model.CarNumber)</span><br />
                    <span>@Html.EditorFor(model => model.CarNumber)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.CarNumber)</span>
                </div>
                
                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Color)</span><br />
                    <span>@Html.EditorFor(model => model.Color)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Color)</span>
                </div>
                
                <div class="textSet">
                    <span>@Html.LabelFor(model => model.ManufactureDate)</span><br />
                    <span>@Html.EditorFor(model => model.ManufactureDate)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.ManufactureDate)</span>
                </div>
                
                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Year)</span><br />
                    <span>@Html.EditorFor(model => model.Year)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Year)</span>
                </div>
                
                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Owners)</span><br />
                    <span>@Html.EditorFor(model => model.Owners)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Owners)</span>
                </div>
                
                <div class="textSet">
                    <span>@Html.LabelFor(model => model.State)</span><br />
                    <span>@Html.EditorFor(model => model.State)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.State)</span>
                </div>
                
                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Description)</span><br />
                    <span>@Html.EditorFor(model => model.Description)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Description)</span>
                </div>

                <input type="submit" value="Create" />
            </div>
        </fieldset>
    }
</div>
