@model CarDealerProject.Models.Car

@{
    ViewBag.Title = "Edit car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Car</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Brand)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brand)
            @Html.ValidationMessageFor(model => model.Brand)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManufactureDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ManufactureDate)
            @Html.ValidationMessageFor(model => model.ManufactureDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarNumber)
            @Html.ValidationMessageFor(model => model.CarNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarDealerId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarDealerId)
            @Html.ValidationMessageFor(model => model.CarDealerId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CarDealerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarDealerName)
            @Html.ValidationMessageFor(model => model.CarDealerName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "All")
</div>
