@model CarDealerProject.Models.Car

@{
    ViewBag.Title = "Edit car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    $(document).ready(function () {
        $("#DDCarDealerName").on("change", function () {
            $("#CarDealerId").val($(this).find('option:selected').val());
            $("#CarDealerName").val($(this).find('option:selected').text());
        });
        
        $("#ManufactureDate").datepicker({ dateFormat: 'yy-mm-dd', showAnim: "fadeIn", changeYear: true, yearRange: '-40:+0', maxDate: '+0d' });
        $("#Year").datepicker({ dateFormat: 'yy', showAnim: "fadeIn", changeYear: true, maxDate: '+0d' });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Car</legend>

        @Html.HiddenFor(model => model.Id)

        <div>
            @Html.LabelFor(model => model.Brand)
        </div>
        <div>
            @Html.EditorFor(model => model.Brand)
            @Html.ValidationMessageFor(model => model.Brand)
        </div>

        <div>
            @Html.LabelFor(model => model.Model)
        </div>
        <div>
            @Html.EditorFor(model => model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        </div>

        <div>
            @Html.LabelFor(model => model.Year)
        </div>
        <div>
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div>
            @Html.LabelFor(model => model.ManufactureDate)
        </div>
        <div>
            @Html.EditorFor(model => model.ManufactureDate)
            @Html.ValidationMessageFor(model => model.ManufactureDate)
        </div>

        <div>
            @Html.LabelFor(model => model.State)
        </div>
        <div>
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div>
            @Html.LabelFor(model => model.Description)
        </div>
        <div>
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div>
            @Html.LabelFor(model => model.Color)
        </div>
        <div>
            @Html.EditorFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        <div>
            @Html.LabelFor(model => model.CarNumber)
        </div>
        <div>
            @Html.EditorFor(model => model.CarNumber)
            @Html.ValidationMessageFor(model => model.CarNumber)
        </div>

        <div>
            @Html.LabelFor(model => model.CarDealerId)
        </div>
        <div>
            @Html.EditorFor(model => model.CarDealerId)
            @Html.ValidationMessageFor(model => model.CarDealerId)
        </div>
        
        <div>
            @Html.LabelFor(model => model.CarDealerName)
        </div>
        <div>
            @Html.EditorFor(model => model.CarDealerName)
            @Html.ValidationMessageFor(model => model.CarDealerName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "All")
</div>
