@model CarDealerProject.Models.Car

<script type="text/javascript">
    $(document).ready(function () {
        $('#CarDealerId').prepend("<option value='-1' selected='selected'></option>");
    });
    
</script>

@using (Html.BeginForm("GetAllSimilar", "Car", FormMethod.Post, new { id = "SearchForm" }))
{ 
    <h2>Search</h2>
    <br />
    @Html.AntiForgeryToken()
    <fieldset>
        <legend></legend>

        <div class="textSet">
            @Html.Label("Brand")<br/>
            @Html.DropDownList("Brand", TempData["Brands"] as IEnumerable<SelectListItem>)
        </div>

        <div class="textSet">
            @Html.Label("Model") <br/>
            @Html.DropDownList("Model", TempData["Models"] as IEnumerable<SelectListItem>)
        </div>

        <div class="textSet">
            @Html.Label("Color")<br/>
            @Html.DropDownList("Color", TempData["Colors"] as IEnumerable<SelectListItem>)
        </div>

        <div class="textSet">
            @Html.Label("State")<br/>
            @Html.DropDownList("State", TempData["States"] as IEnumerable<SelectListItem>)
        </div>
        
        <div class="textSet">
            @Html.Label("Car Number")<br/>
            <input type="text" name="CarNumber" />
        </div>

        <div class="textSet">
            @Html.Label("Car dealer Name")<br/>
            @Html.DropDownList("CarDealerId", TempData["CarDealersData"] as IEnumerable<SelectListItem>)
        </div>
        
        <p class="textSet">
            <input type="button" value="Search" onclick="submitFormGetPartView('SearchForm', 'dataContainer');" />
        </p>
    </fieldset>
}
