@model CarDealerProject.Models.Car

<div class="content center no-float">
    <fieldset>
        <legend>Car</legend>

        <div class="left">

            <span class="label-title">@Html.DisplayNameFor(model => model.Brand)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.Brand)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.Model)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.Model)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.Year)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.Year)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.ManufactureDate)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.ManufactureDate)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.State)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.State)</span><br />
            <br />
        </div>

        <div class="right carDealerImage"></div>
        <div class="clear"></div>

        <span class="label-title">@Html.DisplayNameFor(model => model.Description)</span><br />
        <p class="label-text content-width">@Html.DisplayFor(model => model.Description)</p>
        <br />

        <span class="label-title">@Html.DisplayNameFor(model => model.Color)</span><br />
        <span class="label-text">@Html.DisplayFor(model => model.Color)</span><br />
        <br />

        <span class="label-title">@Html.DisplayNameFor(model => model.CarNumber)</span><br />
        <span class="label-text">@Html.DisplayFor(model => model.CarNumber)</span><br />
        <br />

        <span class="label-title">@Html.DisplayNameFor(model => model.CarDealerId)</span><br />
        <span class="label-text">@Html.DisplayFor(model => model.CarDealerId)</span><br />
        <br />

    </fieldset>
</div>
