@model CarDealerProject.Models.CarDealer

<h2>Create new</h2>
<br />
@using (Html.BeginForm("Create", "CarDealer", FormMethod.Post, new { id = "CreateForm" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <div class="textSet">
            <span>@Html.LabelFor(model => model.Name)</span><br />
            <span>@Html.EditorFor(model => model.Name)</span><br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.Name)</span>
        </div>

        <div class="textSet">
            <span>@Html.LabelFor(model => model.ParkingPlaces)</span><br />
            <span>@Html.EditorFor(model => model.ParkingPlaces)</span><br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.ParkingPlaces)</span>
        </div>

        <div class="textSet">
            <span>@Html.LabelFor(model => model.Telephone)</span><br />
            <span>@Html.EditorFor(model => model.Telephone) </span>
            <br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.Telephone)</span>
        </div>

        <div class="textSet">
            <span>@Html.LabelFor(model => model.Email)</span><br />
            <span>@Html.EditorFor(model => model.Email)</span><br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.Email)</span>
        </div>

        <div class="textSet">
            <span>@Html.LabelFor(model => model.Country)</span><br />
            <span>@Html.EditorFor(model => model.Country)</span><br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.Country)</span>
        </div>

        <div class="textSet">
            <span>@Html.LabelFor(model => model.City)</span><br />
            <span>@Html.EditorFor(model => model.City)</span><br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.City)</span>
        </div>

        <div class="textSet">
            <span>@Html.LabelFor(model => model.ZipCode)</span><br />
            <span>@Html.EditorFor(model => model.ZipCode)</span><br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.ZipCode)</span>
        </div>

        <div class="textSet">
            <span>@Html.LabelFor(model => model.Street)</span><br />
            <span>@Html.EditorFor(model => model.Street)</span><br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.Street)</span>
        </div>

        <div class="textSet">
            <span>@Html.LabelFor(model => model.StreetNumber)</span><br />
            <span>@Html.EditorFor(model => model.StreetNumber)</span><br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.StreetNumber)</span>
        </div>

        <p class="textSet">
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
