@model CarDealerProject.Models.CarDealer

<h2>Create new</h2>
<br />
@using (Html.BeginForm("Create", "CarDealer", FormMethod.Post, new { id = "CreateForm" }))
{ 
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken() 
    <fieldset>
        <legend></legend>
        <div class="textSet">
            @Html.LabelFor(model => model.Name)<br />
            @Html.EditorFor(model => model.Name)<br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.Name)</span>
        </div>

        <div class="textSet">
            @Html.LabelFor(model => model.ParkingPlaces)<br />
            @Html.EditorFor(model => model.ParkingPlaces)<br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.ParkingPlaces)</span>
        </div>

        <div class="textSet">
            @Html.LabelFor(model => model.Telephone)<br />
            @Html.EditorFor(model => model.Telephone) 
            <br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.Telephone)</span>
        </div>

        <div class="textSet">
            @Html.LabelFor(model => model.Email)<br />
            @Html.EditorFor(model => model.Email)<br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.Email)</span>
        </div>

        <div class="textSet">
            @Html.LabelFor(model => model.Country)<br />
            @Html.EditorFor(model => model.Country)<br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.Country)</span>
        </div>

        <div class="textSet">
            @Html.LabelFor(model => model.City)<br />
            @Html.EditorFor(model => model.City)<br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.City)</span>
        </div>

        <div class="textSet">
            @Html.LabelFor(model => model.ZipCode)<br />
            @Html.EditorFor(model => model.ZipCode)<br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.ZipCode)</span>
        </div>

        <div class="textSet">
            @Html.LabelFor(model => model.Street)<br />
            @Html.EditorFor(model => model.Street)<br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.Street)</span>
        </div>

        <div class="textSet">
            @Html.LabelFor(model => model.StreetNumber)<br />
            @Html.EditorFor(model => model.StreetNumber)<br />
            <span class="errorMessage">@Html.ValidationMessageFor(model => model.StreetNumber)</span>
        </div>

        <p class="textSet">
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
