@model CarDealerProject.Models.CarDealer

@{
    ViewBag.Title = "Edit car dealer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="content center no-float">

        <fieldset>
            <legend>Car dealer</legend>
            <div class="left">
                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Name)</span><br />
                    <span>@Html.EditorFor(model => model.Name)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Name)</span>
                </div>

                <div class="textSet">
                    <span>@Html.LabelFor(model => model.ParkingPlaces)</span><br />
                    <span>@Html.EditorFor(model => model.ParkingPlaces)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.ParkingPlaces)</span>
                </div>

                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Telephone)</span><br />
                    <span>@Html.EditorFor(model => model.Telephone)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Telephone)</span>
                </div>

                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Email)</span><br />
                    <span>@Html.EditorFor(model => model.Email)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Email)</span>
                </div>

                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Country)</span><br />
                    <span>@Html.EditorFor(model => model.Country)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Country)</span>
                </div>

                <div class="textSet">
                    <span>@Html.LabelFor(model => model.City)</span><br />
                    <span>@Html.EditorFor(model => model.City)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.City)</span>
                </div>

                <div class="textSet">
                    <span>@Html.LabelFor(model => model.ZipCode)</span><br />
                    <span>@Html.EditorFor(model => model.ZipCode)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.ZipCode)</span>
                </div>

                <div class="textSet">
                    <span>@Html.LabelFor(model => model.Street)</span><br />
                    <span>@Html.EditorFor(model => model.Street)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Street)</span>
                </div>

                <div class="textSet">
                    <span>@Html.LabelFor(model => model.StreetNumber)</span><br />
                    <span>@Html.EditorFor(model => model.StreetNumber)</span><br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.StreetNumber)</span>
                </div>
            </div>

            <div class="right carDealerImage"></div>
            <div class="clear"></div>

            <input type="submit" value="Save" />
        </fieldset>
    </div>
}

<div class="center">
    <br />
    @Html.ActionLink("Back to List", "All")
</div>
