@model CarDealerProject.Models.CarDealer

@{
    ViewBag.Title = "Edit car dealership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="content center no-float">

        <fieldset>
            <legend>Edit car dealership</legend>
            <div class="left">
                <div class="textSet">
                    @Html.LabelFor(model => model.Name)<br />
                    @Html.EditorFor(model => model.Name)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Name)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.ParkingPlaces)<br />
                    @Html.EditorFor(model => model.ParkingPlaces)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.ParkingPlaces)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.Telephone)<br />
                    @Html.EditorFor(model => model.Telephone)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Telephone)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.Email)<br />
                    @Html.EditorFor(model => model.Email)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Email)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.Country)<br />
                    @Html.EditorFor(model => model.Country)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Country)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.City)<br />
                    @Html.EditorFor(model => model.City)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.City)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.ZipCode)<br />
                    @Html.EditorFor(model => model.ZipCode)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.ZipCode)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.Street)<br />
                    @Html.EditorFor(model => model.Street)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.Street)</span>
                </div>

                <div class="textSet">
                    @Html.LabelFor(model => model.StreetNumber)<br />
                    @Html.EditorFor(model => model.StreetNumber)<br />
                    <span class="errorMessage">@Html.ValidationMessageFor(model => model.StreetNumber)</span>
                </div>
            </div>

            <div class="right carDealerImage"></div>
            <div class="clear"></div>

            <input class="textSet" type="submit" value="Save" />
            <input type="button" value="Cancel" onclick="location.href = '../All'" />
        </fieldset>
    </div>
}
