@model CarDealerProject.Models.CarDealer

<div class="content center no-float">
    <fieldset>
        <legend>CarDealer</legend>

        <div class="left">
            <span class="label-title">@Html.DisplayNameFor(model => model.Name)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.Name)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.ParkingPlaces)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.ParkingPlaces)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.Telephone)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.Telephone)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.Email)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.Email)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.Country)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.Country)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.City)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.City)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.ZipCode)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.ZipCode)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.Street)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.Street)</span><br />
            <br />

            <span class="label-title">@Html.DisplayNameFor(model => model.StreetNumber)</span><br />
            <span class="label-text">@Html.DisplayFor(model => model.StreetNumber)</span><br />
            <br />
        </div>
        <div class="right carDealerImage"></div>
        <div class="clear"></div>
    </fieldset>
</div>
