@model CarDealerProject.Models.CarDealer

<fieldset>
    <legend>CarDealer</legend>

    <div>
        <b>@Html.DisplayNameFor(model => model.Name)</b>
    </div>
    <div >
        @Html.DisplayFor(model => model.Name)
    </div>

    <div>
        <b>@Html.DisplayNameFor(model => model.ParkingPlaces)</b>
    </div>
    <div >
        @Html.DisplayFor(model => model.ParkingPlaces)
    </div>
    
    <div>
        <b>@Html.DisplayNameFor(model => model.Telephone)</b>
    </div>
    <div >
        @Html.DisplayFor(model => model.Telephone)
    </div>
    
    <div>
        <b>@Html.DisplayNameFor(model => model.Email)</b>
    </div>
    <div >
        @Html.DisplayFor(model => model.Email)
    </div>

    
    <div>
        <b>@Html.DisplayNameFor(model => model.Country)</b>
    </div>
    <div >
        @Html.DisplayFor(model => model.Country)
    </div>
    
    <div>
        <b>@Html.DisplayNameFor(model => model.City)</b>
    </div>
    <div>
        @Html.DisplayFor(model => model.City)
    </div>
    
    <div>
        <b>@Html.DisplayNameFor(model => model.ZipCode)</b>
    </div>
    <div >
        @Html.DisplayFor(model => model.ZipCode)
    </div>
    
    <div>
        <b>@Html.DisplayNameFor(model => model.Street)</b>
    </div>
    <div >
        @Html.DisplayFor(model => model.Street)
    </div>
    
        <div>
        <b>@Html.DisplayNameFor(model => model.StreetNumber)</b>
    </div>
    <div >
        @Html.DisplayFor(model => model.StreetNumber)
    </div>
</fieldset>