@model CarDealerProject.Models.CarDealer

<fieldset>
    <legend>CarDealer</legend>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Name)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.ParkingPlaces)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParkingPlaces)
    </div>
    
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Country)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>
    
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.City)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>
    
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.ZipCode)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZipCode)
    </div>
    
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Street)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>
    
        <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.StreetNumber)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StreetNumber)
    </div>
</fieldset>